.bold {
    font-weight:bold !important;
}
#gameArea{
    height: 78vh;
    background-color: #cfffff;
    align-content: center;
    text-align: center;
    margin:0 auto;
}
#commandLine{
  height: 5vh;
  background-color: #cfffff;
}
.tableCardClass{
  width: 10vmin;
  height: auto;
  margin: 5px;
}
.tableContainerClass{
  padding: 5px;
  border-radius: 20px;
  width: auto;
  height: auto;
  display:inline-block;
  margin: 10px;
  vertical-align: top;
}
.childContainer{
  width: inherit;
  height:auto;
  text-align: center;
  vertical-align: top;
}

#players{
    height: 80vh;
}
#downer{
    height: 20vh;
}
.card{
    height:100px;
    width: 64px;

}
.cardImages{
    height: 13vh;
    width: auto;
    margin: 5px;
}
#cards{
    background-color: #ffffcc;
    text-align: center;
    height: 16vh;
    display: inline-block;
    white-space: nowrap;
/*    overflow-x: auto; */ /* this is needed for the my cards area to be scrollable, but it breaks draggable FIXME please */
}
html, body{
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
#me{
    height: 20vh;
    background-color: red;
    float: left;
}
#mySpace{
  height:20vh;
  background-color: #ffffcc;
}
#cardDrop{
  border-radius: 20px;
  height: 30vh;
  width: 18vw;
  background-color: yellow;
  margin:10px;
  vertical-align: middle;
  display: inline-block;
  margin-top: 25vh;
  padding-top: 13vh;
  text-align: center;

}
#chat{
  background-color: lightgreen;
  height:20vh;
}
#chatText{
    height: 13vh;
    overflow-y: scroll;
}
#timer{
  height: auto;
  line-height: 5vh;
  vertical-align: bottom;
  float: right;
}
#upper{
  background-color: #cfffff;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
.small_view{
    padding: 10vmin;
}

.playerList img{
    width: 64px;
    height: 64px;
}
